{% extends 'index.html' %}
{% load static %}

{% block body %}
    <div class="messaging">
        {% for i in  friend %}
        <div class="message-contain" id="{{i.id}}">
            <div class="message-box" >
                <p class="username" id="{{i.user.email}}">
                    {{i.user.email}}
                </p>
                <b>send a message</b>
            </div>
        </div>  
        {% endfor %}
            
    </div>
    <script>
        var user = "{{request.user}}";
        document.querySelectorAll(".message-contain").forEach((div)=>{
            div.addEventListener('click',(e)=>{
                let userId;
                if (e.target.className == "message-contain"){
                    userId = e.target.id;
                    
                }
                else{
                    parent = e.target.parentNode.parentNode ;
                    userId = parent.id;
                }
                /*
                if (senders.includes(userId)){
                    let count = document.getElementById('messageCount')
                    parsedcount = parseInt(count.innerText,10)
                    console.log("message")
                    count.innerText = parsedcount - 1
                    senders.pop(userId)
                }
                */
                
                window.location.pathname = "/messages/"+ userId + "/";
            })
        })
    </script>
{% endblock %}
    